* {
    box-sizing: border-box;
}


/*-- NAVBAR--*/

#mainNav {
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-weight: 700;
    font-family: Montserrat;
}

#mainNav .navbar-toggler {
    font-size: 80%;
    padding: .8rem;
}

.bg-secondary {
    background-color: #2c3e50!important;
}

#mainNav .navbar-brand {
    color: #fff;
}

#mainNav .navbar-nav li.nav-item a.nav-link {
    color: #fff;
}

.bg-primary {
    background-color: #18bc9c!important;
}

#mainNav li:hover {
    background-color: #18bc9c;
    border-radius: 5px;
}


/*-- HEADER--*/

header.masthead {
    padding-top: calc(6rem + 50px);
    padding-bottom: 6rem;
}

.bg-primary {
    background-color: #18bc9c;
}

.text-white {
    color: #fff!important;
}

.text-center {
    text-align: center!important;
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
    display: block;
}

hr.star-light {
    border-color: #fff;
}

hr.star-dark1 {
    border-color: #fff;
}

hr.star-dark,
hr.star-light,
hr.star-dark1 {
    max-width: 15rem;
    padding: 0;
    text-align: center;
    border: none;
    border-top: .25rem solid;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}


/*-- Coreteam & Members--*/

a:hover {
    text-decoration: none;
}

.abc {
    width: 80%;
    height: 35vh;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 50%;
    align-items: center;
    margin-left: 10%;
}

.designation {
    text-align: center;
    text-shadow: 2px 2px 4px #000000;
    margin-bottom: 10px;
    padding-bottom: 10px;
    font-size: 150%;
    font-family: Montserrat;
    color: black;
}

#parton img {
    width: 60%;
    height: 35vh;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 50%;
    align-items: center;
    margin-left: 15%;
}

.text-secondary {
    color: #2c3e50!important;
}

#mem-sec p {
    text-align: center;
    text-shadow: 2px 2px 4px #000000;
    margin-bottom: 15px;
    padding-bottom: 10px;
    font-size: 120%;
    font-family: Montserrat;
    color: black;
}

.text-uppercase {
    text-transform: uppercase!important;
}

.text-center {
    text-align: center!important;
}

section h2 {
    font-size: 2.25rem;
    line-height: 2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    font-family: Montserrat;
}


/*star line*/

hr.star-light:after {
    color: #fff;
    background-color: #18bc9c;
}

hr.star-dark:after {
    color: #2c3e50;
    background-color: #fff;
}

hr.star-dark1:after {
    color: #fff;
    background-color: #2c3e50;
}

hr.star-dark:after,
hr.star-light:after,
hr.star-dark1:after {
    position: relative;
    top: -.8em;
    display: inline-block;
    padding: 0 .25em;
    content: "\f005";
    font-family: FontAwesome;
    font-size: 2em;
}


/*--FOOter*/

.footer {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: #2c3e50;
    color: #fff;
}

.text-center {
    text-align: center!important;
}

.col,
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-auto {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 25px;
}

#text {
    font-size: 150%;
}


/*--Social Connect--*/

.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.btn {
    border-width: 2px;
}

.btn-social {
    width: 3.25rem;
    height: 3.25rem;
    font-size: 1.25rem;
    line-height: 2rem;
}

.text-center {
    text-align: center!important;
}

.rounded-circle {
    border-radius: 50%!important;
}

.btn-outline-light {
    color: #f8f9fa;
    border-color: #f8f9fa;
}

.btn:hover i {
    color: black;
}

i {
    color: white;
}


/*--Copyright Section--*/

.copyright {
    background-color: #1a252f;
}

.text-white {
    color: #fff!important;
}

.text-center {
    text-align: center!important;
}

.pb-4,
.py-4 {
    padding-bottom: 1.5rem!important;
}

.pt-4,
.py-4 {
    padding-top: 1.5rem!important;
}


/*image*/

.fa-search-plus:before {
    content: "\f00e";
}

a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
}


/*Image hover*/

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}

.abc:hover .overlay {
    height: 100%;
}

.text {
    white-space: nowrap;
    color: white;
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}


/* FOR Bootstrap modal */

.bsmod img {
    width: auto;
    height: 35vh;
    padding-top: 4%;
    padding-bottom: 5%;
    border-radius: 50%;
    margin-right: 3%;
}

.bsmod p {
    font-family: Montserrat;
}

.bsmod h4 {
    font-family: Montderrat;
    font-weight: 80%;
    text-align: center;
}

.bsmod a {
    border: 0.5px solid black;
    color: #000000;
    size: 30%;
    text-align: center;
}

.bsmod a:hover {
    border: 1px solid black;
}

.bsmod i {
    color: #000000;
}

header img {
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.7);
}

@media screen and (max-width: 1700px) {
    header img {
        width: 35vh;
        height: 10vh;
    }
}

@media screen and (max-width: 550px) {
    header img {
        width: 22vh;
        height: 10vh;
        border-radius: 50%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.7);
    }
}